:root {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  /* sticky footer */
  min-height: 100vh;
}

.side-bar {
  position: relative;
  width: 40vw;
  min-width: 300px;
}

.side-bar > img {
  width: 100%;

  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: min(400px, 28%);
}

.logo img {
  /* height: 100%; */
  overflow: hidden;
  width: clamp(5rem, 12vw, 13rem);
}

.logo p {
  font-size: clamp(5rem, 12vw, 13rem);
  color: white;
  font-family: Norse;
  font-weight: bold;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: max(575px, 60vw); */
  width: 60vw;
  min-width: 600px;
}

.intro {
  /* height: 35%; */
  padding: 20vh 20vw 0 min(60px, 2vw);
  min-width: 400px;
}

.form-container {
  padding-left: 60px;
  padding-left: min(60px, 2vw);
  background-color: white;
  height: max(30%, 450px);
  /* min-height: 500px; */
}

.form-container form {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: max(485px, 50vw);
}

.form-container input {
  padding-left: 0px;
  width: clamp(200px, 100%, 300px);
  height: 35px;
  border-radius: 6px;
  border: 1 solid rgb(237, 237, 247);
}

.form-row {
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.account-container {
  position: relative;
  /* height: 35%; */
}

.account {
  position: absolute;
  top: 40px;
  left: min(60px, 2vw);
}
.account button {
  width: 250px;
  height: 50px;
  background-color: #596d48;
  color: white;
  font-size: 1rem;
  border: 0 solid #596d48;
  border-radius: 8px;
}

.account a,
p {
  font-size: 1.2rem;
}

.account a {
  color: #596d48;
}
